
<div class="container">
  <h1>Create a cluster.</h1>
  <p>Add a new cluster to the Cluster Metrics app. </p>
  <%= form_for @cluster do |f| %>
  <%=  f.label "Cluster Name" %>
  <%=  f.text_field :clusterName %>
  <%= f.submit %>
  <% end %>

</div>
