<%= high_chart("some_id", @totalContactChart) %>
<div class="page-curl shadow-bottom">
	<p>Select month, filter out any bridge that is not 1-7, set minimum frequency filter to >= 4, group by bridge order by bridge and sum frequency.</p>
</div>
