<%= high_chart("my_bar_div", @chart1) %>
<div class="page-curl shadow-bottom">
	<p>Select bridge, group by month, order by month, sum frequency.</p>
</div>

            <!-- <#% EmailAggregate::MONTHVALUESMODEL.each do |mV|%>
            <#%   @arrayThis[mV] = @totalCategory1byMonth[mV] %>
            <#%   end %>
            <#%= @totalCategory1byMonth %> -->
            <!-- <div class="container">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Bridge</th>
                    <th>Frequency Goal</th>
                    <th>Diversity Goal</th>

                  </tr>
                  <tbody>
                    <%# @monthContactsArr.each do |c| %>
                        <tr>
                          <td><%#= EmailAggregate::BRIDGENAMESMODEL[c.bridge]%> </td>
                          <td><%#= c.frequencyGoal %></td>
                          <td><%#=c.diversityGoal%></td>
                        <#% end %>
                        </tr>
                  </tbody>
              </table>

            </div>
            <div class="col-sm-6 col-lg-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="text-center">Diversity Statistics</h4>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item liitem"><strong>Position:</strong>
                                        <span class="pull-right">Developer</span>
                                    </li>
                                    <li class="list-group-item liitem"><strong>Company:</strong>
                                        <span class="pull-right">EasyTech</span>
                                    </li>
                                    <li class="list-group-item liitem"><strong>Department:</strong>
                                        <span class="pull-right">Dataviz</span>
                                    </li>
                                    <li class="list-group-item liitem"><strong>Project Duration:</strong>
                                        <span class="pull-right">12 months</span>
                                    </li>
                                </ul>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-4 col-lg-2">
                                        </div>
                                        <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4" id="qr1">
                                        </div>
                                        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">

                        </div> -->
